.pub{
  font-size: 100%;
  color: black;
  font-weight: 400;
  @include heading-font;
  .pub-text{
    font-size: 150%;
  }
  .pub-title{
    font-size: 150%;
    @include body-font;
  }
  .pub-info{
    font-size: 200;
  }
  .pub-year{
    font-size: 300%;
  }
}
